<div class="relative h-72 overflow-hidden text-white">
    <div class="w-full absolute h-72 bg-gradient-to-r from-[#ff4713]/70 from-10% to-40%"></div>
    <div class="absolute z-10 pt-24 pb-24 w-full">
        <div id="footer" class="w-full flex px-3 md:px-12 place-items-center">
            <h2 class="text-2xl font-bold">{{ footer:footer_copy }}</h2>
        </div>
        <div id="footer" class="w-full justify-between pt-12 flex px-3 md:px-12">
            <h2 class="text-2xl">Engine Group © 2024</h2>
            <a class="text-2xl text-gray-600" href="#Top">Back to top</a>
        </div>
    </div>
    <div class="w-full">
        <img class="w-full h-72 object-cover" src="{{ footer:map }}" alt="" />
    </div>
</div>
