<div>
    <div class="w-full aspect-video bg-fixed"><iframe src="{{vimeo_embed}}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" class="w-full aspect-video mt-20 md:mt-0" title="Engine’s Reel"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
</div>

<div class="px-24 my-64 relative flex w-full justify-evenly items-center">
    <div>
        <h2 class="uppercase text-7xl -rotate-90 font-[Handbook]">who we are</h2>
    </div>

    <div class="w-24 h-0.5 bg-[#ff4713]"></div>

    <div id="copy" class="w-1/3 text-balance align-baseline whitespace-pre tracking-tighter self-stretch">
        <h2 class="text-xl md:text-2xl">{{ bodycopy }}</h2>
        <a href="{{ cta_link:title }}"><button class="pt-12 text-xl md:text-2xl hover:text-[#ff4713]">{{ cta }}</button></a>
    </div>

    <div><img src="/public/assets/stamp_rgb.png" alt="" class="w-64 aspect-square"></div>
</div>

<div class="w-full my-12 h-96 relative content-center">
    <img src="{{ glide :src="feature_image_1" width="1000" height="400" fit="crop_focal" }}" alt="" class="object-cover w-5/6 h-full absolute top-1/2 transform -translate-y-1/2">
    <div class="w-1/3 h-52 bg-[#ff4713] absolute right-0 top-1/2 transform -translate-y-1/2"></div>
</div>

<div class="px-64 my-64 relative flex w-full justify-evenly items-center">
    <div id="copy" class="w-3/5 text-balance align-baseline whitespace-pre self-stretch">
        <h2 class="text-2xl md:text-4xl text-[#ff4713]">{{ our_way }}</h2>
    </div>

    <div class="w-24 h-0.5 bg-[#ff4713]"></div>

    <div>
        <h2 class="uppercase text-7xl rotate-90 font-[Handbook]">our way</h2>
    </div>
</div>

<div class="w-full my-12 h-96 relative content-center">
    <img src="{{ glide :src="feature_image_2" width="1000" height="400" fit="crop_focal" }}" alt="" class="object-cover w-5/6 h-full right-0 absolute top-1/2 transform -translate-y-1/2">
    <div class="w-1/3 h-52 bg-gray-600 absolute  top-1/2 transform -translate-y-1/2"></div>
</div>

<div class="py-24 grid justify-items-center">
    <h2 class=" py-12 text-7xl uppercase font-[Handbook]">Our Work</h2>
    <div class="my-24 w-0.5 h-24 bg-[#ff4713]"></div>
    <div id="imagelibrary" class="py-12 px-3 md:px-12 z-0 grid grid-row md:grid-cols-2 lg:grid-cols-3 gap-12">
            {{ partial:work }}
    </div>
</div>

<div class="px-3 my-64 relative flex w-full justify-around items-center">
    <h2 class="uppercase text-7xl font-[Handbook] -rotate-90">what's new</h2>
    <div class="w-24 h-0.5 bg-[#ff4713]"></div>
    <div id="copy" class="w-2/3 right-0 flex gap-12">
        {{ partial:news }}
    </div>
</div>

<div class="w-full my-12 h-96 relative content-center">
    <img src="{{ glide :src="feature_image_3" width="1000" height="400" fit="crop_focal" }}" alt="" class="object-cover w-5/6 h-full absolute top-1/2 transform -translate-y-1/2">
    <div class="w-1/3 h-52 bg-[#ff4713] absolute right-0 top-1/2 transform -translate-y-1/2"></div>
</div>

<div id="carbon" class="text-center grid my-24 px-3 md:mx-auto w-full md:w-2/5 justify-items-center gap-6">
    <img class="w-52" src="{{ carbon_asset }}" alt="{{ carbon_asset_alt }}">
    <p class="text-2xl text-[#343434] text-balance">{{ carbon_copy }}</p>
</div>
