<div class="grid grid-cols-3 gap-6 p-3">
{{ gallery }}
    {{ if type == "gallery_image" }}
    <div>
        <img class="object-cover flex {{ aspect_ratio }}" src="{{ glide :src="gallery_image"  fit="crop_focal"}}" alt="{{ gallery_image_alt }}" />
    </div>
    {{ else }}
    <div>
        {{ if video | is_embeddable }}
        <!-- Youtube and Vimeo -->
        <iframe class="w-full aspect-video" src="{{ video | embed_url }}"></iframe>
        {{ else }}
        <!-- Other HTML5 video types -->
        <video class="w-full aspect-video" src="{{ video | embed_url }}"></video>
        {{ /if }}
      </div>
    {{ /if }}
{{ /gallery }}
    </div>